@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 100%;
  font-size: 20px;
  overflow-x: hidden;
}

.goup {
  position: fixed;
  right: 30px;
  bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.8rem;
  background-color: #fff;
  border-radius: 50%;
  z-index: 1000000;
}

.goup a {
  text-decoration: none;
  color: #000;
}

.loader {
  position: relative;
  margin: 0 auto;
  width: 100px;
}

.loader:before {
  content: '';
  display: block;
  padding-top: 100%;
}

.circular {
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite;
  height: 100%;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
          animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

@-webkit-keyframes color {
  100%,
  0% {
    stroke: #d62d20;
  }
  40% {
    stroke: #0057e7;
  }
  66% {
    stroke: #008744;
  }
  80%,
  90% {
    stroke: #ffa700;
  }
}

@keyframes color {
  100%,
  0% {
    stroke: #d62d20;
  }
  40% {
    stroke: #0057e7;
  }
  66% {
    stroke: #008744;
  }
  80%,
  90% {
    stroke: #ffa700;
  }
}

body {
  background-color: #eee;
}

.showbox {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5%;
}

#preloader {
  background: #f0c16f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 1000;
}

.navbar-mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  display: block;
  z-index: 98;
  background-color: #f0c16f;
  opacity: 0.9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar-mobile a {
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 3rem;
  font-size: 2rem;
  color: #fff;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 100%;
  min-height: 90vh;
  background: url(../img/quad.jpg) no-repeat fixed;
  background-size: cover;
  background-position: center;
}

.main .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 10%;
}

.main .navigation .img-logo {
  width: 6em;
}

.main .navigation .hamburger {
  background-color: transparent;
  border: 0;
  color: #000;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}

.main .navigation .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  list-style-type: none;
}

.main .navigation .navbar a {
  color: #000;
  text-decoration: none;
  padding: 10px;
  position: relative;
  margin: 0 1rem 0 1rem;
  padding: 0 10px;
}

.main .navigation .navbar a::after {
  content: '';
  position: absolute;
  background-color: #fff;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main .navigation .navbar a:hover:after {
  width: 100%;
}

.main .navigation .navbar a:visited {
  color: black;
}

.main .intro {
  min-width: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: auto;
}

.main .intro .intro-text {
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
  margin: 0;
  text-shadow: 0px 5px 30px #00000080;
}

.main .intro .first-text {
  font-size: 5rem;
  word-spacing: 0.5rem;
}

.main .intro .second-text {
  font-size: 7rem;
  letter-spacing: 2rem;
}

.main .our-attractions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ed7014;
  padding: 0.5rem;
  -ms-flex-item-align: center;
      align-self: center;
  margin: auto;
  text-align: center;
  border-radius: 20px;
}

.main .our-attractions-text {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

.main .our-attractions-text:hover {
  cursor: pointer;
}

.attractions {
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1em;
}

.attractions-wrap {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.attractions-wrap .atraction:last-child .text-centered {
  font-size: 2rem;
}

.atraction {
  position: relative;
  width: 40%;
  max-width: 500px;
  max-height: 400px;
  min-height: 200px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  margin: 0 0.5rem 1rem;
}

.atraction img {
  width: 100%;
  height: 100%;
}

.atraction .text-centered {
  width: 100%;
  padding: 1rem 0px 1rem 0px;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  font-size: 2rem;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-filter: drop-shadow(0 0 0.05rem black);
          filter: drop-shadow(0 0 0.05rem black);
}

.events {
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 4rem 0 4rem 0;
}

.events .event-header {
  margin: 0 0 2rem 0;
  color: #fff;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  text-transform: uppercase;
  padding: 2rem;
  background: #ed7014;
  text-shadow: 0px 3px 6px #00000080;
}

.gallery-section {
  min-width: 100%;
  background: #ed7014;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery-section .gallery-text {
  text-align: center;
  width: 50%;
}

.gallery-section .gallery-text .main-text {
  color: #fff;
  font-size: 3em;
  font-weight: 700;
  text-shadow: 0px 3px 6px #00000080;
}

.gallery-section .gallery-text .description {
  width: 50%;
  margin: 0 auto;
  color: #fff;
  font-size: 1.2rem;
}

.gallery-section .swiper {
  width: 50%;
  margin: 1rem;
}

.gallery-section .swiper .swiper-button-next,
.gallery-section .swiper .swiper-button-prev,
.gallery-section .swiper .swiper-pagination {
  color: #fff;
}

.contact {
  min-width: 100%;
  background-color: #181717;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0 1rem 0;
  color: #fff;
}

.contact .contact-logo {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.contact .contact-logo img {
  width: 100%;
}

.contact .contact-wrapper {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .contact-wrapper p {
  padding: 1rem;
}

.contact .contact-wrapper .name {
  font-size: 2em;
  font-weight: 700;
}

.contact .contact-wrapper .phone-number {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.contact .contact-wrapper .facebook {
  color: #4267b2;
}

.contact .contact-wrapper .facebook:hover {
  cursor: pointer;
}

.contact .contact-wrapper .facebook i {
  font-size: 5rem;
}

.contact .contact-wrapper i {
  font-size: 2rem;
}

.contact .contact-map {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.footer {
  min-width: 100%;
  color: #fff;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
}

.hidden {
  display: none;
}

@media screen and (max-width: 768px) {
  .navigation {
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
  }
  .description {
    font-size: 1rem !important;
  }
  .main-text {
    font-size: 2em !important;
  }
  .main {
    background: url(../img/quad.jpg) no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
  }
  #hamburger {
    position: fixed;
    right: 0;
    margin: 0 1rem 0 0;
    display: block;
    z-index: 100;
  }
  #navbar {
    display: none;
  }
}

@media (max-width: 1500px) {
  .description {
    width: 70% !important;
  }
}

@media (max-width: 1199px) {
  .main {
    min-height: 100vh !important;
  }
  .first-text {
    font-size: 3rem !important;
  }
  .second-text {
    font-size: 5rem !important;
  }
  .attractions-wrap {
    width: 90% !important;
  }
  .gallery-section {
    -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .swiper {
    width: 70% !important;
    margin: 2rem 0 2rem 0 !important;
  }
  .text-centered {
    font-size: 1.5rem !important;
  }
}

@media (max-width: 991px) {
  .contact {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  .contact .contact-logo {
    width: 40%;
  }
  .first-text {
    font-size: 2.5rem !important;
  }
  .second-text {
    font-size: 5rem !important;
    letter-spacing: 0.9rem !important;
  }
  .our-attractions {
    padding: 0.5rem !important;
  }
  .our-attractions-text {
    font-size: 2rem !important;
  }
  .attractions-wrap {
    width: 60% !important;
  }
  .atraction {
    width: 100% !important;
  }
  .description {
    width: 100% !important;
  }
}

@media (max-width: 767px) {
  .attractions-wrap {
    width: 90% !important;
  }
  .first-text {
    font-size: 2rem !important;
  }
  .second-text {
    font-size: 4rem !important;
    letter-spacing: 0.9rem !important;
  }
  .atraction {
    width: 100% !important;
  }
  .text-centered {
    font-size: 1.5rem !important;
  }
  .swiper {
    width: 90% !important;
  }
  .event-header {
    font-size: 1.5rem !important;
  }
  .event iframe {
    width: 410px;
  }
}

@media (max-width: 575px) {
  .first-text {
    font-size: 1.8rem !important;
  }
  .second-text {
    font-size: 3.5rem !important;
    letter-spacing: 0.2rem !important;
  }
  .atraction {
    width: 100% !important;
  }
  .attractions-wrap {
    width: 100% !important;
  }
  .text-centered {
    font-size: 1.5rem !important;
  }
  .main-text {
    font-size: 2.5em !important;
    font-weight: 700;
  }
  .event iframe {
    width: 340px;
  }
}

@media (max-width: 414px) {
  .first-text {
    font-size: 1.5rem !important;
  }
  .second-text {
    font-size: 2.5rem !important;
  }
  .contact-map iframe {
    width: 300px !important;
  }
  .contact-wrapper {
    font-size: 1rem !important;
  }
  .event iframe {
    width: 300px;
  }
  .our-attractions {
    padding: 0.2rem !important;
  }
  .our-attractions-text {
    font-size: 1.5rem !important;
  }
}
/*# sourceMappingURL=style.css.map */